<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ search }}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../static/css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">Meteorite Landings</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#fall">Fall</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#year">Year</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#mass">Mass</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#class">Class</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#member">Member</a>
            </li>
            <li class="nav-item">
              <form method="get" action="/search">
                <input type="search" name="search" placeholder="Search">
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Meteorite Info -->
     <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <h1 class="brand-heading">{{ search }}</h1>
              <ul>
                <li><p class="intro-text">Class : {{ m_class }}</p></li>
                <li><p class="intro-text">Mass : {{ mass }}</p></li>
                <li><p class="intro-text">Fall : {{ fall }}</p></li>
                <li><p class="intro-text">Year : {{ year }}</p></li>
                <li><p class="intro-text">Location : {{ location }}</p></li>
              </ul>
            </div>
            <div class="col-lg-6 mx-auto" style="padding-top: 8.5em;">
              <div id="map"></div>
              <script>
                function initMap() {
                  var uluru = {lat: {{ lat }}, lng: {{ lon }}};
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                  });
                  var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                  });
                }
              </script>
              <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoe69eiXerMI8VuZ9ol9KwySaLMqTB4Jc&callback=initMap">
              </script>
            </div>
          </div>
      </div>
    </body>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/grayscale.min.js"></script>

</html>
